In [17]:
from pathlib import Path
import pandas as pd 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [18]:
path= "Clean_CSV.csv"

In [19]:
social_data= pd.read_csv(path)
social_data.head()

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,1,25,Female,Instagram,120.0,3.0,45.0,10.0,12.0,Happiness
1,2,30,Male,Twitter,90.0,5.0,20.0,25.0,30.0,Anger
2,3,22,Non-binary,Facebook,60.0,2.0,15.0,5.0,20.0,Neutral
3,4,28,Female,Instagram,200.0,8.0,100.0,30.0,50.0,Anxiety
4,5,33,Male,LinkedIn,45.0,1.0,5.0,2.0,10.0,Boredom

In [ ]:
# First Analysis Age vs Emotional Well being

analysis_1_df= social_data[["Age", "Dominant_Emotion"]]
analysis_1_df

     Age Dominant_Emotion
0     25        Happiness
1     30            Anger
2     22          Neutral
3     28          Anxiety
4     33          Boredom
..   ...              ...
919   33          Boredom
920   22          Neutral
921   35        Happiness
922   28            Anger
923   27          Neutral

[924 rows x 2 columns]

In [24]:
# Second Anaylsis Gender vs Minutes Spent vs well being

analysis_2_df= social_data[["Gender", "Daily_Usage_Time (minutes)", "Dominant_Emotion"]]
analysis_2_df

         Gender  Daily_Usage_Time (minutes) Dominant_Emotion
0        Female                       120.0        Happiness
1          Male                        90.0            Anger
2    Non-binary                        60.0          Neutral
3        Female                       200.0          Anxiety
4          Male                        45.0          Boredom
..          ...                         ...              ...
919  Non-binary                        85.0          Boredom
920      Female                        70.0          Neutral
921        Male                       110.0        Happiness
922  Non-binary                        60.0            Anger
923      Female                       120.0          Neutral

[924 rows x 3 columns]

In [26]:
# Third Analysis Posts, likes, comments and messages vs emotional well being

analysis_3_df = social_data[["Posts_Per_Day", "Likes_Received_Per_Day", 
                             "Comments_Received_Per_Day", "Messages_Sent_Per_Day", "Dominant_Emotion"]]
analysis_3_df

,Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,3.0,45.0,10.0,12.0,Happiness
1,5.0,20.0,25.0,30.0,Anger
2,2.0,15.0,5.0,20.0,Neutral
3,8.0,100.0,30.0,50.0,Anxiety
4,1.0,5.0,2.0,10.0,Boredom
...,...,...,...,...,...
919,4.0,35.0,18.0,18.0,Boredom
920,1.0,14.0,6.0,10.0,Neutral
921,3.0,50.0,25.0,25.0,Happiness
922,2.0,18.0,8.0,18.0,Anger
923,4.0,40.0,18.0,22.0,Neutral